@media only screen and (max-width: 600px) 
{
	#monitorBG
	{
		position: absolute;
		top: 25.2%;
		left: 19%;

		width: 63%;
		height: 46%;

		overflow: visible;
	}

	.right-btn-group-div
	{
		margin-top : 1vw;
		margin-bottom : 1vw;
	}

	#right-btn-group-container
	{
		display: flex;
		flex-direction: column;

		justify-content: center;
	}

	/*#monitorDiv
	{
		background-color: white;
	}*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  	#monitorBG
	{
		position: absolute;
		top: 22.2%;
		left: 18%;

		width: 65%;
		height: 48%;
	}

	.right-btn-group-div
	{
		margin-top : 1vw;
		margin-bottom : 1vw;
	}

	#right-btn-group-container
	{
		display: flex;
		flex-direction: column;

		justify-content: center;
	}

	/*#monitorDiv
	{
		background-color: yellow;
	}*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
	#monitorBG
	{
		position: absolute;
		top: 25.3%;
		left: 19%;

		width: 63%;
		height: 46%;
	}

	.right-btn-group-div
	{
		margin-top : 1vw;
		margin-bottom : 1vw;
	}

	#right-btn-group-container
	{
		display: flex;
		flex-direction: column;

		justify-content: center;
	}

	/*#monitorDiv
	{
		background-color: blue;
	}*/
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  	#monitorBG
	{
		position: absolute;
		top: 23%;
		left: 18.2%;

		width: 64.7%;
		height: 47.5%;
	}

	.right-btn-group-div
	{
		margin-top : 1vw;
		margin-bottom : 1vw;
	}

	#right-btn-group-container
	{
		display: flex;
		flex-direction: column;

		justify-content: center;
	}

	/*#monitorDiv
	{
		background-color: green;
	}*/
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	#monitorBG
	{
		position: absolute;
		top: 22.2%;
		left: 18%;

		width: 65%;
		height: 47.5%;
	}

	.right-btn-group-div
	{
		margin-top : 1vw;
		margin-bottom : 1vw;
	}

	#right-btn-group-container
	{
		display: flex;
		flex-direction: column;

		justify-content: center;
	}

	/*#monitorDiv
	{
		background-color: red;
	}*/
}

#monitorFrame
{
	width: 100%;
}

.shadow-text
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}